{% load onu_tags %}
<div id="tabla-estaciones" class="table-responsive">
<table class="table table-hover align-middle" id="estacionesTable">
    <thead>
        <tr>
            <th>PON</th>
            <th>Serial Nº</th>
            <th>Cliente</th>
            <th>Modelo</th>
            <th>Señal</th>
        </tr>
    </thead>
    <tbody>
    {% for onu in metricas.onus %}
    <tr>
        <td style="width: 25px;">{{ onu.pon }}</td>
        {% find_onu onu.serial onu.name request.path %}
        <td>{{ onu.model }}</td>
        <td><span class="badge 
        {% if onu.signal <= -20 %}bg-danger
        {% elif onu.signal <= -18 %}bg-warning
        {% elif onu.signal > -18 and onu.signal < 0 %}bg-success
        {% else %}bg-secondary{% endif %}">{{ onu.signal }}</span></td>
    </tr>
    {% empty %}
        <tr><td colspan="7" class="text-center text-muted py-3">Este dispositivo no tiene ONUs.</td></tr>
    {% endfor %}
    </tbody>
    </table>