{% load dispositivo_tags %}
<div id="tabla-estaciones" class="table-responsive">
<table class="table table-hover align-middle" id="table_estaciones">
    <thead>
        <tr>
            <th>st</th>
            <th>IP Gestión</th>
            <th>Cliente</th>
            <th>Host</th>
            <th>Señal</th>
            <th>Ruido</th>
            <th>CCQ</th>
            <th>Distancia</th>
            <th>TX rate</th>
            <th>RX rate</th>
        </tr>
    </thead>
    <tbody>
    {% for metrica in estaciones %}
    <tr>
        <td>
        <span class="badge
            {% if metrica.estado == 'activo' %}bg-success
            {% elif metrica.estado == 'inactivo' %}bg-danger
            {% elif metrica.estado == 'mantenimiento' %}bg-warning text-dark
            {% elif metrica.estado == 'instalacion' %}bg-info text-dark
            {% elif metrica.estado == 'retirado' %}bg-warning text-dark{% else %}bg-secondary{% endif %}">
            {{ metrica.estado }}
        </span>
        </td>
        <td>{% if metrica.registrado %}
        <a href="{% url 'dispositivos:detalle' metrica.device_pk %}?next={{ request.path }}">{{ metrica.ip_gestion }}</a>
        {% else %}
        {{ metrica.ip_gestion }}
        {% endif %}
        </td>
        <td>{% if metrica.cliente_pk > 0 %}
        <a href="{% url 'clientes:detalle' metrica.cliente_pk %}?next={{ request.path }}">{{ metrica.cliente }}</a>
        {% else %}
        {{ metrica.cliente }}
        {% endif %}
        </td>
        <td>{{ metrica.nombre_host }}</td>
        <td><span class="badge 
        {% if metrica.signal <= -70 %}bg-danger
        {% elif metrica.signal > -50 %}bg-warning text-dark
        {% elif metrica.signal > -70 %}bg-success
        {% else %}bg-secondary{% endif %}">
        {{ metrica.signal|floatformat:"0" }}</span></td>
        <td>{{ metrica.noise|default:"—" }}</td>
        <td>{{ metrica.ccq|default:"—" }}%</td>
        <td>{{ metrica.distancia|metros_a_km }} </td>
        <td>{{ metrica.tx|format_bitrate }} </td>
        <td>{{ metrica.rx|format_bitrate }} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
